/robot_steps
/training_episode_videos
/gameplay_episode_videos
/training_data.csv
/gameplay_data.csv
/model_weights.h5
/network_parameters.csv
/data_plots
/autotest/autotest_results
/autotest/robot_steps
/autotest/training_episode_videos
/autotest//gameplay_episode_videos
/autotest/data.csv
/autotest/__pycache__
